networkx==2.4
jsonpath-rw>=1.4.0
requests>=2.21.0
graphviz>=0.11.1
ipykernel==5.3.4
ipython
aiohttp
jupyter
pandas
pyyaml
nest_asyncio
-e git+https://github.com/mmayers12/data_tools.git#egg=data_tools
