networkx==2.3
jsonpath-rw>=1.4.0
requests>=2.21.0
graphviz>=0.11.1
aiohttp
pandas
pytest

# biothings_schema
-e git+https://github.com/biothings/biothings_schema.py#egg=biothings_schema.py
-e git+https://github.com/biothings/biothings_explorer#egg=biothings_explorer
